.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.site-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  background-color: #fff;
  border-top: 1px solid #e8e8e8;
  color: #424242;
  font-size: $footer-font-size;
  font-weight: $footer-font-weight;
  padding: $footer-padding;
  position: fixed;
    left: 0px;
    bottom: 0px;
  width: 100%;

  .wrapper {
    background-color: transparent;
  }

  a { color: #1976d2; }
  a:hover { color: #1565c0; }
}
